# compiled output
dist
node_modules
tmp
out-tsc
# Only exists if Bazel was run
bazel-out

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

angular/game/src/environments/environment.ts
database.*
*.db
.env
*.rdb
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
coverage
.nyc_output

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
.sass-cache
connect.lock
libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
typings

# System Files
Thumbs.db
