<game></game>
<ng-container *ngIf="connection$ | async as connection">
    <ng-container *ngIf="engine.loading === 100">
        <authentication *ngIf="!connection.token"></authentication>
        <ng-container *ngIf="!!connection.token">
            <server-selection *ngIf="!connection.world"></server-selection>
            <ng-container *ngIf="world$ | async as world">
                <character-selection *ngIf="world.socket && !world.character"></character-selection>
            </ng-container>
            <button (click)="logout()" mat-raised-button style="position:fixed; bottom:16px;right:16px;">Logout</button>
        </ng-container>
        <icons></icons>
    </ng-container>
</ng-container>
<preloader *ngIf="engine.loading < 100"></preloader>
