<hud></hud>
<game-engine></game-engine>
<ng-container *ngIf="auth$ | async as auth">
    <authentication *ngIf="auth.token === ''"></authentication>
    <ng-container *ngIf="auth.token !== ''">
        <server-selection *ngIf="!connection.world.socket"></server-selection>
        <ng-container *ngIf="connection.world.socket">
            <character-selection
                *ngIf="connection.world.selectedCharacter === null"
            ></character-selection>
        </ng-container>
        <button
            (click)="logout()"
            mat-raised-button
            style="position:fixed; bottom:16px;right:16px;"
        >
            Logout
        </button>
    </ng-container>
</ng-container>
