<div style="display:flex;height:100%;flex-direction:column;">
    <div style="flex:1"></div>
    <div style="display:flex">
        <div style="flex:1"></div>
        <mat-card>
            <mat-card-title>
                Login
            </mat-card-title>
            <server-list></server-list>
            <div style="padding:16px" *ngIf="isLogin === true; else loginPrompt">
                Don't have an account?
                <button mat-button color="primary" (click)="isLogin = false">
                    Register Now!
                </button>
            </div>
            <ng-template #loginPrompt>
                <div style="padding:16px">
                    Already have an account?
                    <button mat-button color="primary" (click)="isLogin = true">
                        Login Now!
                    </button>
                </div>
            </ng-template>
            <mat-card-content>
                <register *ngIf="isLogin === false; else loginForm"></register>
                <ng-template #loginForm>
                    <form [formGroup]="form" (submit)="login().then()">
                        <mat-error *ngIf="showError">Invalid Email or Password</mat-error>
                        <div style="padding: 0 16px;">
                            <mat-form-field style="width:100%" color="accent" appearance="outline">
                                <mat-label>Email Address</mat-label>
                                <input matInput type="email" formControlName="email"/>
                            </mat-form-field>
                            <br/>
                            <mat-form-field style="width:100%" color="accent" appearance="outline">
                                <mat-label>Password</mat-label>
                                <input matInput type="password" formControlName="password"/>
                            </mat-form-field>
                        </div>
                        <div style="padding: 16px;" dir="rtl">
                            <button mat-raised-button color="primary" dir="ltr" [disabled]="form.invalid">
                                <mat-icon>account_circle</mat-icon>
                                <span>
                                    Login
                                </span>
                            </button>
                        </div>
                    </form>
                </ng-template>
            </mat-card-content>
        </mat-card>
        <div style="flex:1"></div>
    </div>
    <div style="flex:1"></div>
</div>
